img.maps-background {
	height: calc(100vh - 75px);
	width: 100vw;
	object-fit: cover;
	filter: brightness(0.3);
	position: fixed;
	z-index: -1;
	top: 75px;
}

.maps-page h1 {
	font-size: 4em;
	text-align: center;
	font-family: KenyanCoffee;
	text-transform: uppercase;
	margin: 50px 0px;
}

.maps-container {
	width: 100%;
	background-color: #2f2f2f;
	box-shadow: 0px 0px 15px 3px #000;
	border-radius: 15px;
	display: grid;
	grid-template-columns: 220px;
}

ul.maps-agents {
	display: inline-block;
	background-color: #3e3e3e;
	list-style: none;
	margin: 0;
	padding: 0;
	border-radius: 15px 0px 0px 15px;
	grid-column: 1 / 2;
	cursor: pointer;
}

ul.maps-agents li {
	padding: 3px 10px;
	transition: 200ms;
}

ul.maps-agents li.selected-agent a {
	color: #feb3b8;
}

ul.maps-agents li:hover {
	transform: scale(1.1) translateX(10px);
}

ul.maps-agents li a {
	font-size: 1.2em;
	text-decoration: none;
	transition: 200ms;
	display: block;
}

ul.maps-agents img {
	width: 50px;
	height: 50px;
	transition: 200ms;
	vertical-align: middle;
	margin-right: 10px;
	user-select: none;
}

div.maps-content-wrapper {
	display: block;
	grid-column: 2 / 3;
	width: 90%;
	margin: 0 auto;
}
