.site-options {
    display: flex;
    justify-content: center;
}

.site-option {
    text-align: center;
    position: relative;
}

.site-options img {
    display: block;
    margin: 0 auto;
    width: 90%;
    object-fit: cover;
}

.site-options a.site-name {
    font-size: 1.8em;
    color: yellow;
    font-family: BikoBold;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.site-selected {
    position: relative;
}

.site-selected img {
    width: 100%;
}

.site-selected {
}

.spike-location {
    width: 5%;
    height: 5%;
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
}
