.maps-site-container {
	position: relative;
}

.maps-site-container img {
	width: 80%;
	display: block;
	margin: 0 auto;
}

.maps-site-container a {
	position: absolute;
	padding: 10px;
	background-color: beige;
	color: black;
	cursor: pointer;
	transform: translate(-50%, -50%);
	font-weight: 700;
	text-decoration: none;
	width: 20px;
	height: 20px;
	text-align: center;
	border-radius: 50%;
	vertical-align: middle;
	transform-origin: center;
	transition: 150ms;
}

.maps-site-container a:hover {
	transform: scale(1.2) translate(-40%, -40%);
}
